.page-detail {
    padding-top: 158px;
    background-color: #dddddd;
    color: rgb(43, 38, 38);
}

#post-detail {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

#post-content {
    padding: 20px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    position: fixed;
    background: #e7f2f5;
    margin-top: -9px;
}

img {
    height: 550px;
    width: 800px
}

.text {
    width: 740px;
    margin: auto;
}